/binary/
/binary*.iso
/binary*.img
/binary*.tar.gz
/binary.list
/binary.log
/binary.packages
/cache/
/chroot/
/chroot.tmp/
/config/binary
/config/bootstrap
/config/chroot
/config/common
/config/source
/.lock
/.stage/
